# Production & Local Environment Config Template
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?appName=nyatiera
PORT=3001
FRONTEND_URL=http://localhost:5173
VITE_API_URL=/api
API_KEY=your_secure_api_key_here
VITE_API_KEY=your_secure_api_key_here

# App Developer & Admin Roles (Set your secret passwords in your private .env file)
VITE_SUPREMEMASTER_EMAIL=developer@nepl.in
VITE_SUPREMEMASTER_PASS=your_secure_developer_password_here

VITE_SUPERUSER_EMAIL=admin@nepl.in
VITE_SUPERUSER_PASS=your_secure_admin_password_here

VITE_AUCTIONEER_EMAIL=auction@nepl.in
VITE_AUCTIONEER_PASS=your_secure_auctioneer_password_here

VITE_PLAYER_EMAIL=player@nepl.in
VITE_PLAYER_PASS=your_secure_player_password_here

